*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--max-width: 1280px;
	--cols: 16;
	--col-width: calc(100% / var(--cols));
	--col-margin-side: 10px;
}

.left { float: left; }

.right { float: right; }

.container {
	max-width: var(--max-width);
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
	clear: both;
}

[class*="grid-"] {
	float: left;
	margin: 0 var(--col-margin-side);
}

.grid-1 { width: calc((var(--col-width) * 1) - (var(--col-margin-side) * 2)); }
.grid-2 { width: calc((var(--col-width) * 2) - (var(--col-margin-side) * 2)); }
.grid-3 { width: calc((var(--col-width) * 3) - (var(--col-margin-side) * 2)); }
.grid-4 { width: calc((var(--col-width) * 4) - (var(--col-margin-side) * 2)); }
.grid-5 { width: calc((var(--col-width) * 5) - (var(--col-margin-side) * 2)); }
.grid-6 { width: calc((var(--col-width) * 6) - (var(--col-margin-side) * 2)); }
.grid-7 { width: calc((var(--col-width) * 7) - (var(--col-margin-side) * 2)); }
.grid-8 { width: calc((var(--col-width) * 8) - (var(--col-margin-side) * 2)); }
.grid-9 { width: calc((var(--col-width) * 9) - (var(--col-margin-side) * 2)); }
.grid-10 { width: calc((var(--col-width) * 10) - (var(--col-margin-side) * 2)); }
.grid-11 { width: calc((var(--col-width) * 11) - (var(--col-margin-side) * 2)); }
.grid-12 { width: calc((var(--col-width) * 12) - (var(--col-margin-side) * 2)); }
.grid-13 { width: calc((var(--col-width) * 13) - (var(--col-margin-side) * 2)); }
.grid-14 { width: calc((var(--col-width) * 14) - (var(--col-margin-side) * 2)); }
.grid-15 { width: calc((var(--col-width) * 15) - (var(--col-margin-side) * 2)); }
.grid-16 { width: calc((var(--col-width) * 16) - (var(--col-margin-side) * 2)); }
.grid-1-3 { width: calc((var(--col-width) * 16 / 3) - (var(--col-margin-side) * 2)); }

@media screen and (max-width: 768px) {
	[class*="grid-"] {
		width: 50%;
		margin: 0;
	}
}

@media screen and (max-width: 540px) {
	[class*="grid-"] {
		width: 100%;
		margin: 0;
	}
}